* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility; */
}

body {
  width: 100%;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.header {
  background-image: url("./image/header-image.jpg");
  background-size: cover;
  height: 520px;
  background-position-x: 25%;
}

.icon {
  display: flex;
  justify-content: flex-end;
  padding: 75px 40px;
}

.icons-header {
  height: 40px;
  margin: 0px 8px 0px 0px;
}

.profile-image {
  width: 160px;
  border-radius: 50%;
  top: 382px;
  right: 15%;
  position: absolute;
  object-fit: cover;
}

.header-text-group {
  color: white;
  top: 121px;
  position: absolute;
  margin: 50px;
}

/*--------- fonts ---------- */

h1 {
  font-size: 30px;
  line-height: 42px;
  width: 220px;
}

.h2 {
  font-size: 24px;
  line-height: 40px;
}

h2 {
  font-size: 28px;
  line-height: 27px;
  font-weight: bold;
  background-color: rgb(37, 96, 118);
  color: white;
  padding: 5px;
  text-align: center;
  margin: 30px;
}

h3 {
  font-size: 28px;
  line-height: 34px;
}

h4 {
  font-size: 17px;
  line-height: 25px;
  color: rgb(37, 96, 118);
  align-items: center;
}

h5 {
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  color: rgb(37, 96, 118);
}

h6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
}

/* article, */
section,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  width: 357px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section:nth-child(2n) {
  background-color: #f4f4f4;
}

section:nth-child(2n + 1) {
  background-color: white;
}

.about-text {
  font-weight: 400px;
  font-size: 17px;
  line-height: 29px;
}

/* ------symbol------ */
.line {
  border: 1px solid orangered;
  width: 40px;
  display: inline-block;
  margin-bottom: 4px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: orangered;
  border-radius: 50%;
  display: inline-block;
}

.tech {
  padding: 20px, 0;
  text-align: center;
}

.project-card {
  display: flex;
}

.hiddenmobile {
  display: none;
}

.project-image {
  width: 100%;
  display: block;
}

.project-image-group {
  display: flex;
  position: relative;
  /* width: 400px; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-overlay {
  position: absolute;
  background-color: rgba(140, 140, 140, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* display: inherit; */
}

.project-overlay:hover {
  cursor: pointer;
  opacity: 0;
  transition: all ease-in 0.4s;
}

.project-heading {
  font-weight: bold;
  color: white;
  align-items: center;
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 25% 0;
}

.code-wrapper {
  display: flex;
  /* Added to help with multiple lines of tags */
  flex-wrap: wrap;
}

.code-wrapper span {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: rgb(225, 104, 60);
  color: white;
  text-decoration: none;

  /* Matching line-height and font-size here gives full control 
	   over the size of our tags to the padding*/
  font-size: 12px;
  line-height: 12px;

  /* Control the size of the tags */
  padding: 4px;

  /* Control the spacing of our tags */
  margin: 3px;

  /* Some rounded borders */
  border-radius: 5px;
}

.project-text-group {
  padding: 10px 0;
}

/* detail like arrows and some text  */
.blue {
  color: rgb(37, 96, 118);
}

.titel {
  display: flex;
  justify-content: center;
}

.skills {
  display: flex;
  align-items: flex-start;
  width: 378px;
  justify-content: space-evenly;
}
.list {
  text-align: center;
  padding: 40px;
  width: 300px;
}

a:link {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(194, 93, 93);
}

.more {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Roboto";
}

.icons {
  font-size: 12px;
  line-height: 16px;
}

.icons-more {
  justify-content: center;
  text-align: center;
  width: 60px;
  height: 70px;
}

.wrapper-icon {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}

.footer-headline {
  margin: 30px;
}

.red {
  color: rgb(194, 93, 93);
  font-family: "Montserrat";
}

#mailto {
  color: white;
}

footer {
  background-color: rgb(37, 96, 118);
  color: white;
  text-align: center;
}
/* ------------Tablet-------------- */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header {
    background-image: url("./image/header-image.jpg");
    background-size: cover;
    height: 581px;
    background-position-x: 25%;
  }

  .profile-image {
    width: 240px;
    border-radius: 50%;
    top: 378px;
    right: 24%;
  }

  .container {
    width: 800px;
    margin: 0 auto;
    display: flex;
  }

  h1 {
    font-size: 42px;
    line-height: 60px;
    width: 606px;
  }
}

/* ------------Computer-------------- */
@media (min-width: 1000px) {
  .header {
    background-image: url("./image/header-image.jpg");
    background-size: cover;
    height: 581px;
    background-position-x: 25%;
  }

  .icon {
    display: flex;
    align-content: space-between;
    margin-left: -20%;
    /* padding: 90px 0px; */
  }

  .icons-header {
    height: 60px;
    width: 60px;
    margin: 0px 15px 0px 0px;
  }

  .header-text-group {
    top: 106px;
    left: 10%;
  }

  .profile-image {
    width: 240px;
    border-radius: 50%;
    top: 378px;
    right: 24%;
  }

  .container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
  }

  /* .articles {
    width: 50%;
  } */

  .desktop-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 30px;
  }

  .project-card {
    width: 470px;
  }

  .hiddenmobile {
    display: block;
  }

  .other-projects-section {
    display: flex;
    flex-direction: column;
  }

  .my-thoughts {
    display: flex;
    justify-content: column;
    padding: 20px;
    /* width: 10rem; */
  }

  .project {
    margin: 10px;
  }

  .code-wrapper span {
    font-size: 17px;
    line-height: 17px;
  }

  .icons {
    font-size: 12px;
    line-height: 19px;
  }

  .icons-more {
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 90px;
  }

  /*--------- fonts ---------- */

  h1 {
    font-size: 62px;
    line-height: 80px;
    width: 606px;
  }

  .h2 {
    font-size: 45px;
    line-height: 38px;
  }

  h2 {
    font-size: 35px;
    line-height: 58px;
  }

  h3 {
    font-size: 35px;
    line-height: 34px;
  }

  h4 {
    font-size: 25px;
    line-height: 41px;
  }

  h5 {
    font-size: 30px;
    line-height: 47px;
  }

  h6 {
    font-size: 20px;
    line-height: 42px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }
}
